.background-color-dark {
  background-color: $color-back-dark;
}

.full-screen {
  min-height: 100vh;
}

.screens {
  & + .screens {
    margin-top: -5rem;
  }
  .screen-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: $color-text-light;
    padding-bottom: 10rem;

    h2 {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 3.6rem;
      margin-top: 10.5rem;
    }

    h3 {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin-top: 1.3rem;
    }

    p {
      font-size: 1.6rem;
      letter-spacing: -0.22px;
      line-height: 2.2rem;
      margin-top: 12rem;

      span {
        font-weight: 500;
      }
    }

    .yourhandle {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      height: 44px;
      width: 90%; /* fallback */
      width: calc(100% - 5rem);
      border: 1px solid $color-light;
      border-radius: 1.2rem;
      margin-top: 6rem;

      label {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 4.3rem;
        padding-left: 2rem;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 20%;
          right: -1rem;
          height: 2.5rem;
          width: 0.05rem;
          background-color: $color-light;
        }
      }

      input {
        margin-left: 2.5rem;
        color: $color-text-light;
        background-color: transparent;
        width: 55%;
        border: none;
        font-size: 2.4rem;
      }

      ::-webkit-input-placeholder {
        color: $color-text-light;
        opacity: 0.1;
      }
      ::-moz-placeholder {
        color: $color-text-light;
        opacity: 0.1;
      }
      :-ms-input-placeholder {
        color: $color-text-light;
        opacity: 0.1;
      }
      :-moz-placeholder {
        color: $color-text-light;
        opacity: 0.1;
      }
    }

    #reserve-btn {
      position: absolute;
      right: -3rem;
      top: 24%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 22px;
      width: 70px;
      border-radius: 34px;
      background-color: $color-text-dark;
      opacity: 1 !important;
      border: none;
      color: $color-text-light;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2rem;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $color-text-dark;
        background-color: $color-text-light;
      }

      i {
        font-size: 5px;
        padding-left: 5px;
      }
    }
  }

  .screen-2 {
    color: $color-text-light;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    h2 {
      display: flex;
      font-size: 2rem;
      font-weight: bold;
      line-height: 2.4rem;
      max-width: 31rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.8rem;
      margin-top: 3rem;
      margin-bottom: 5rem;
    }

    img {
      width: 100%;
      height: auto;
    }

    .number-small {
      font-size: 5.5rem;
      font-weight: 400;
      line-height: 4.8rem;
      margin-right: 2.7rem;
    }

    .number-large {
      font-size: 10rem;
      font-weight: 400;
      line-height: 9.8rem;
      margin-right: 5rem;
      display: none;
    }
  }
}
