//*************
//  colors 
//*************

$color-dark: #000000;
$color-light: #ffffff;

$color-text-dark: #2F2F41;
$color-text-light: #ffffff;

$color-back-dark: #5B4AE2;

$color-alert: #E14141;
$color-form-icon: #B9B9B9;

$color-form-link: #6043EB;

// #604EE3 #645BE7 #5B4AE2

// #D8D8D8 #DDDDDD #DADADA

// #979797 

//*************
//  Fonts
//*************

$font-primary: 'proxima_nova';
$font-secondary: 'djb_chalk_it_up';

